

:root {
  --color-primary: #141414; /* Preto do fundo dos cards e tela */
  --color-secondary: #202020; /* Cinza muito escuro do fundo geral */
  --color-tertiary: #2c2c2c; /* Cinza escuro de destaque (barras, seções) */
  --color-accent: #f97316; /* Laranja vibrante (botões e indicadores) */
  --color-info: #16a34a; /* Verde dos indicadores de saldo */
  --color-highlight: #7e22ce; /* Roxo usado em gráficos */
  --color-warning: #eab308; /* Amarelo de alerta */
  --color-danger: #dc2626; /* Vermelho de alerta */
  --color-light: #f2f2f2; /* Cinza bem claro (textos e detalhes) */

  --color-primary-light: #eb6d73;
  --color-secondary-light: #72b8ad;
  --color-secondary-light: #67918f;
  --color-white: #c8e9e5;
  --color-dark-light: #303f47;
  --color-light: #f4f4f4;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */

  /* Tons de vermelho */
  --vermelho-escuro: #8b0000; /* DarkRed */
  --vermelho-sangue: #b22222; /* FireBrick */
  --vermelho-sangue-cc: rgb(178, 34, 34, 0.4); /* FireBrick */
  --vermelho-padrão: #ff0000; /* Red */

  /* Tons de verde */
  --verde-grama: #7cfc00; /* LawnGreen */
  --verde-grama-cc: rgb(124, 252, 0, 0.2); /* LawnGreen */
  --verde-neon: #39ff14; /* Neon Green */
}

* {
  box-sizing: border-box;
}

.main-section { 
  background-color: var(--color-secondary);}


  /* 
  salmon: "#eb6d73",
  cardLight: "#72b8ad",
  cardDark: "#67918f",
  cardLeve: "#c8e9e5",
  cardExDark: "#303f47",
  
  */