/*
 * Paleta de cor OGGI

*/

:root {
  --color-primary: #eb6d73;
  --color-secondary: #72b8ad;
  --color-secondary-dark: #67918f;
  --color-white: #c8e9e5;
  --color-dark: #303f47;
  --color-light: #f4f4f4;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */

  /* Tons de vermelho */
  --vermelho-escuro: #8b0000; /* DarkRed */
  --vermelho-sangue: #b22222; /* FireBrick */
  --vermelho-sangue-cc: rgb(178, 34, 34, 0.4); /* FireBrick */
  --vermelho-padrão: #ff0000; /* Red */

  /* Tons de verde */
  --verde-grama: #7cfc00; /* LawnGreen */
  --verde-grama-cc: rgb(124, 252, 0, 0.2); /* LawnGreen */
  --verde-neon: #39ff14; /* Neon Green */
}

* {
  box-sizing: border-box;
}

.main-section { 
  background-color: var(--color-dark);}
